.topheader{
  text-align:center;
}
  #clockBody {
  background-color: #174146;
  height: 100vh;
  color: white;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;


#timerLengthSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.clockLength{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

}
.cremendterLabel{
  font-size:25px;
}

.cremendters {
  display: flex;
  gap: 5px;
}
#timerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 50px;
  width: 275px;
}
#timer-label{
  font-size:30px;
}
#time-left {
  margin: 0;
  font-size: 60px;
  margin-bottom: 15px;
}
#clock-controls {
  display: flex;
  gap: 10px;
}
.incrementer, .decrementer{
  border:none;
  background-color:inherit;
}
.incrementer, .decrementer i{
  color:white;
  font-size:larger;
  font-weight: 900;
}